services:
  app:
    image: ghcr.io/kolx0zhik/vk_to_tg_poster:latest
    pull_policy: always
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./config:/app/config
      - ./logs:/app/logs
      - ./data:/app/data
    restart: unless-stopped
